.App {
  min-height: 100%;
}
/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Gloock&family=IBM+Plex+Sans:wght@400;500&display=swap");

:root {
  --content-width: min(calc(100vw - 32px), 1024px);
  --bg: #f3f5f7;
  --bg-card: #fff;
  --text: #333;
  --primary-100: #5b3ec1;
  --primary-80: #35639a;
  --primary-60: #c8e8f1;
  --primary-40: #def2f9;
  --input-border: rgba(0, 0, 0, 0.5);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --type-paragraph: "IBM Plex Sans", sans-serif;
  --type-display: "Gloock", serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--type-paragraph);
  margin: 0;
}

main,
nav {
  padding-inline: calc((100vw - var(--content-width)) / 2);
}

main {
  padding-bottom: min(10vh, 40px);
}

time {
  opacity: 0.8;
  font-weight: var(--font-weight-medium);
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-medium);
  padding: 6px 10px;
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--primary-80);
  border-color: var(--primary-80);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-100);
  border-color: var(--primary-100);
}

.btn-secondary {
  background-color: var(--primary-60);
  border-color: var(--primary-60);
  color: var(--primary-80);
}

.btn-secondary:hover {
  background-color: var(--primary-40);
  border-color: var(--primary-40);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.input-group input {
  flex: 1;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: calc((9 / 16) * 100%);
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p[role="status"] {
  background-color: var(--bg-card);
  border: 1px solid var(--text);
  padding: 16px;
  box-shadow: 8px 8px 0 0 var(--text);
  font-weight: var(--font-weight-medium);
}
